@model Models.Blog

@{
    ViewBag.Title = Model.Title; // Model name in Arabic
}

<!-- عنوان الصفحة -->
<section class="page-title text-center" style="background-image:url(images/background/3.jpg);" dir="rtl">
    <div class="container">
        <div class="title-text">
            <h1>تفاصيل المدونة</h1>
            <ul class="title-menu clearfix">
                <li>
                    <a asp-controller="Home" asp-action="Index">الرئيسية &nbsp;/</a>
                </li>
                <li>تفاصيل المدونة</li>
            </ul>
        </div>
    </div>
</section>
<!-- نهاية عنوان الصفحة -->
<!-- قسم الاتصال -->
<section class="blog-section section style-four style-five" dir="rtl">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="left-side">

                    <div class="item-holder">
                        <div class="image-box">
                            <figure>
                                <a asp-controller="Blog" asp-action="Details"><img loading="lazy" class="img-fluid" src="@Model.ImageUrl" alt=""></a>
                            </figure>
                        </div>
                        <div class="content-text text-right">
                            <h4>@Model.Title</h4>
                            <span>@Model.Author - @Model.CreatedAt</span>
                            <p>
                                @Model.Description
                            </p>
@*                             <div class="text">
                                <p>
                                    لأنفسهم يستغلون كل ما في الحياة الحلوة من مكافآت. دعها تتدفق ستعود إليك.
                                </p>
                            </div> *@
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="right-side">
                    <div class="text-title">
                        <h6>البحث</h6>
                    </div>
                    <div class="search-box">
                        <form method="post" action="index.html">
                            <input class="form-control" type="search" name="search" placeholder="أدخل للبحث" required="">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- نهاية قسم الاتصال -->
