@model List<Models.Blog>
@using System.Text.RegularExpressions

@{
    ViewBag.Title = "المدونات"; // Model name in Arabic

}


<!-- قسم المدونة -->
<section class="blog-section style-four section" dir="rtl">
    <div class="container">
        <div class="row">
            <!-- الشريط الجانبي -->
            <div class="col-lg-3 order-lg-1">
                <div class="right-side">
                    <div class="text-title text-right">
                        <h6>بحث</h6>
                    </div>
                    <div class="search-box">
                        <form method="get" asp-controller="Blog" asp-action="Search">
                            <input class="form-control" type="search" name="query" placeholder="أدخل للبحث" required="">
                            <button type="submit" class="btn btn-secondary mt-2" hidden>بحث</button>
                        </form>
                    </div>
                    <div class="categorise-menu text-right">
                        <div class="text-title">
                            <h6>الفئات</h6>
                        </div>
                        <ul class="categorise-list">
                            @foreach (var category in ViewBag.Categories)
                            {
                                <li>
                                    <a asp-controller="Blog" asp-action="ByCategory" asp-route-categoryId="@category.CategoryId">
                                        @category.Name
                                    </a>
                                </li>
                            }
                        </ul>

                    </div>
@*                     <div class="tag-list text-right ">
                        <div class="text-title">
                            <h6>الكلمات المفتاحية</h6>
                        </div>
                        <a href="blog.html">طب الأسنان</a>
                        <a href="blog.html">الجذر</a>
                        <a href="blog.html">التنظيف</a>
                        <a href="blog.html">إعادة التأهيل</a>
                        <a href="blog.html">الجراحة</a>
                        <a href="blog.html">طبيب</a>
                        <a href="blog.html">طب الأطفال</a>
                    </div> *@
                </div>
            </div>

            <!-- المحتوى الرئيسي -->
            <div class="col-lg-9 order-lg-0 text-right">
                <div class="left-side ">
                    <!-- عنصر مدونة -->
                    @foreach (var item in Model)
                    {
                        <div class="item-holder">
                            <div class="image-box">
                                <figure>
                                    <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.BlogId"><img loading="lazy" class="img-fluid" src="@item.ImageUrl" alt="@item.Title"></a>
                                </figure>
                            </div>
                            <div class="content-text">
                                <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.BlogId">
                                    <h4>@item.Title</h4>
                                </a>
                                <span>@item.Author - @item.CreatedAt</span>
                                <p>
                                    @{
                                        // Strip HTML tags
                                        string plainText = Regex.Replace(item.Description, "<.*?>", string.Empty);

                                        // Check if the length of plain text is less than or equal to 100
                                        if (plainText.Length <= 100)
                                        {
                                            @Html.Raw(plainText)
                                            // Output the full description
                                        }
                                        else
                                        {
                                            @Html.Raw(plainText.Substring(0, 100) + "...")
                                            // Output truncated description
                                        }
                                    }
                                </p>

                                <div class="link-btn">
                                    <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.BlogId" class="btn-style-one">اقرأ المزيد</a>
                                </div>
                            </div>
                        </div>
                    }
 
                   
                    <!-- زر الترقيم -->
                    <div class="styled-pagination">
                        <ul>
                            <li><a class="prev" href="blog.html"><span class="fas fa-angle-right" aria-hidden="true"></span></a></li>
                            <li><a href="blog.html" class="active">1</a></li>
                            <li><a href="blog.html">2</a></li>
                            <li><a href="blog.html">3</a></li>
                            <li><a class="next" href="blog.html"><span class="fas fa-angle-left" aria-hidden="true"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- نهاية قسم المدونة -->
